import(methods)
import(AnnotationDbi)

### Only put what is statically exported here. All the AnnObj instances
### created at load time are dynamically exported (refer to R/zzz.R for
### the details).
export(
    org.Mabscessus.eg,
    org.Mabscessus.eg_dbconn,
    org.Mabscessus.eg_dbfile,
    org.Mabscessus.eg_dbschema,
    org.Mabscessus.eg_dbInfo,

    org.Mabscessus.egORGANISM
)

